<a href="https://colab.research.google.com/github/143biswajit/Machine-Learning-Basic/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

pandas is a open sourse.BSD_licensed library providing high-performance, easy to use datastructure  and dada analysis  tools for the python programning language.




---
What is Data Frames?

What is Data Series?

Differents opration in pandas

In [2]:
import pandas as pd
import numpy as np

In [8]:
## playing with data frame
df=pd.DataFrame(np.arange(0,30).reshape(6,5),index=['raw1','raw2','raw3','raw4','raw5','raw6'],columns=['cl1','cl2','cl3','cl4','cl5'])

In [9]:
df.head()

      cl1  cl2  cl3  cl4  cl5
raw1    0    1    2    3    4
raw2    5    6    7    8    9
raw3   10   11   12   13   14
raw4   15   16   17   18   19
raw5   20   21   22   23   24

In [10]:
# Accessing the elements
##1. .loc 2. .iloc
df.loc['raw1']

cl1    0
cl2    1
cl3    2
cl4    3
cl5    4
Name: raw1, dtype: int64

In [12]:
type(df.loc['raw1'])

pandas.core.series.Series

In [17]:
df.iloc[0:3,0:1]

      cl1
raw1    0
raw2    5
raw3   10

In [16]:
type(df.iloc[0:3,0:1])

pandas.core.frame.DataFrame

In [18]:
df.iloc[0:3,0]

raw1     0
raw2     5
raw3    10
Name: cl1, dtype: int64

In [19]:
type(df.iloc[0:3,0])

pandas.core.series.Series

In [20]:
## Take the elements from the column
df.iloc[:,1:]

      cl2  cl3  cl4  cl5
raw1    1    2    3    4
raw2    6    7    8    9
raw3   11   12   13   14
raw4   16   17   18   19
raw5   21   22   23   24
raw6   26   27   28   29

In [21]:
## converts dataframe into array
df.iloc[:,1:].values

array([[ 1,  2,  3,  4],
       [ 6,  7,  8,  9],
       [11, 12, 13, 14],
       [16, 17, 18, 19],
       [21, 22, 23, 24],
       [26, 27, 28, 29]])

In [23]:
df.iloc[:,1:].values.shape

(6, 4)

In [24]:
df.isnull().sum()

cl1    0
cl2    0
cl3    0
cl4    0
cl5    0
dtype: int64

In [25]:
df

      cl1  cl2  cl3  cl4  cl5
raw1    0    1    2    3    4
raw2    5    6    7    8    9
raw3   10   11   12   13   14
raw4   15   16   17   18   19
raw5   20   21   22   23   24
raw6   25   26   27   28   29

In [26]:
df['cl1'].value_counts()

0     1
5     1
10    1
15    1
20    1
25    1
Name: cl1, dtype: int64

In [27]:
df['cl1'].unique()

array([ 0,  5, 10, 15, 20, 25])

In [30]:
df[['cl3','cl4']]

      cl3  cl4
raw1    2    3
raw2    7    8
raw3   12   13
raw4   17   18
raw5   22   23
raw6   27   28